@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic");

* {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    ;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.hide {
    display: none;
}
.preloader-block {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
}
.preloader-background {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.9;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}
.preloader {
    background: white;
    width: 500px;
    height: 300px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-250px, -150px);
}

.head {
    font-family: roboto;
    font-weight: 100;
    line-height: 1.5;
    padding: 20px 50px;
    background-color: grey;
    color: white;

    a,
    a:active,
    a:visited,
    a:hover {
        background-color: white;
        padding: 3px 20px;
        color: black;
        border-radius: 5px;
    }
}

.form {
    margin-top: 80px;
    width: 400px;
    text-align: end;
}

.form-group {
    margin: 18px 0 18px;
    font-size: 16px;
    font-family: roboto;
    min-width: 500px;
}

.form-group>input {
    padding: 5px 20px;
    // margin-left: 20px;
    font-size: 16px;
    outline: none;
}


.submit {
    padding: 10px 20px;
    // border-radius: 20px;
    background-color: grey;
    // margin-top: 30px;
    border: none;
    color: white;
}

.errors {
    color: red;
    font-size: 16px;
    background-color: beige;
    width: 500px;
    margin: 30px;
    padding: 10px;
}

.tags {
    display: flex;
    display: none;
}

.tags>li {
    border: 1px solid grey;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 20px 7px;
    list-style-type: none;
}

// ----

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    border-collapse: collapse;
    color: #686461;
    margin: 40px auto;
}

caption {
    padding: 10px;
    color: white;
    background: #8fd4c1;
    font-size: 18px;
    text-align: left;
    font-weight: bold;
}

th {
    border-bottom: 1px solid #b9b29f;
    padding: 10px;
    text-align: left;
}

td {
    padding: 10px;
}

tr:nth-child(odd) {
    background: white;
}

tr:nth-child(even) {
    background: #e8e6d1;
}

td>a {
    font-size: 18px;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    background: rgb(235, 234, 234);
    padding: 4px;
    border-radius: 5px;
    border: 1px solid grey;
}

// -----

.my_modal {
    position: fixed;
    // top: 0;
    // right: 0;
    // bottom: 0;
    // left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1050;
    display: none;
    // margin: 0;
    // padding: 0;
    // display: flex;
    width: 100vw;
    height: 100vh;
    // position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
}

.my_modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
    top: 35%;
}

.my_modal-content {
    width: 400px;
    margin: 0 auto;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    outline: 0;
}

.my_modal-header {
    display: block;
    padding: 14px 14px 4px;
}

.my_modal-title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 500;
    border-bottom: 1px solid #d4d4d4;
    text-align: center;
}

.my_modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
    overflow: auto;
    text-align: center;
}

.modal-buttons {
    margin: 20px auto;
}

#title {
    width: 90%;
}

.modal-buttons>button {}

::-webkit-input-placeholder {
    /* Chrome */
    color: rgb(202, 202, 202);
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: rgb(202, 202, 202);
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: rgb(202, 202, 202);
    opacity: 1;
}

:-moz-placeholder {
    /* Firefox 4 - 18 */
    color: rgb(202, 202, 202);
    opacity: 1;
}

textarea {
    font-size: 16px;
    width: 90%;
    padding: 5px 20px;
    // margin-left: 30px;
}

// .newproject > input {
//     width: 400px;
// }

// .newproject.form-group {
//     width: 600px;
// }

.post-form {
    display: flex;
}

.post-form>div {
    margin: 20px;
}

ul {
    padding: 10px;
    font-size: 14px;
}

li {
    list-style-type: none;
    margin-top: 5px;
}

.img-loader {
    display: flex;
    width: min-content;
}

.img-loader-block {
    width: 300px;
    font-size: 14px;
}

.img-loader-block>input {
    margin-top: 10px;
}

.editproject-img {
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    margin-bottom: 40px;

}

.editproject-img img {
    width: 500px;
    margin: 45px 0 10px;
}

.edit_picture a {
    font-size: 14px;
    border: 1px solid grey;
    padding: 3px 10px;
    margin-right: 5px;
    border-radius: 4px;
}

.remove_picture {
    background-color: red;
    color: white;
}

.plus_tag {
    text-align: center;
    padding: 10px;
    border: 1px solid grey;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    border-radius: 30px;

}

.main-picture-form {
        // display: flex;
        // flex-direction: row;
    
}

.main-picture-block {
    margin-top: 50px;
    input {
        width: 200px;
        margin: 10px;
        padding: 5px 10px;
    }
    img {
        height: 300px;
    }
}

.block {
    width: 900px;
    margin: 30px;
}
