$background-color: #3b3b3b;
.footer {
    width: 100%;
    height: 10vw;
    background-color: $background-color;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.footer-logo img {
height: 3.5vw;
width: auto;
opacity: 0.7;
}
.contacts {
    text-align: end;
    max-width: 250px;
    // line-height: 0;

    
    transform: scale(1.1);
}

.contacts * {
    margin: 5px 0;
}

.contacts a {
    text-decoration: none;
    color: white;
}

.web-katunin {
    margin-top: 10px;
    font-size: 12px;
    opacity: 0.5;
}

.web-mobile-katunin {
    display: none;
}

@media screen and (max-width: 768px) and (orientation: portrait) {

    .footer {
        height: 10vh;
    }
    
    .footer-logo img {
        width: 120px;
        height: auto;
    }

    .footer-logo {
        display: none;
    }
    .contacts {
        max-width: none;
        // width: 35%;
        text-align: left;
    }
    .contacts h5 {
        font-size: 10px;
    }
    .contacts h3 {
        font-size: 16px;
    }
.web-katunin {
    display: none;
}
.web-mobile-katunin {
    display: block;
    font-size: 12px;
    opacity: 0.3;
}
}