@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic");
* {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}
.head-brand {
    font-size: 70px; //104 от 1024 // 34 от 640
    
    // font-weight: 100;
    text-align: center;
}

.head-logo {
    width: 100px;
    margin: 0 auto;
}

.block-group {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
}

.block {
    width: 400px;
    margin: 10px 30px;
}

.img-block {
    width: 100%;
    height: 270px;
    background-position: center center;
    background-repeat: no-repeat; 
    background-size: cover;
}


.link {
    text-align: center;
    margin-top: 10px;
    color: black;
    font-weight: 100;
}



.tag-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px;
}

.tag {
    // border: 1px solid grey;
    // padding: 7px 15px;
    padding-bottom: 7px;
    // border-radius: 7px;
    // margin: 5px 10px;
    margin: 5px 17px;
    cursor: default;
    font-size: 14px;
}

.hide {
    display: none;
}

.active {
    // background-color: lightgray;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.3);
    // border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
    // color: red

}

.edit-block {
    margin-top: 10px;
    text-align: center;
}


a.button-del {
    padding: 3px 12px;
    border-radius: 3px;
    background-color: red;
    color: white;
}

a.button-edit {
    padding: 3px 12px;
    border-radius: 3px;
    background-color: grey;
    color: white;
}

.plus {
    border: 1px solid grey;
    font-size: 140;
    line-height: 250px;
    font-weight: 100;
    color: grey;
    text-align: center;
}