@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic");
* {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    margin: 0;
}

.content {
    max-width: 1200px;
    width: 80%;
    margin: 30px auto;
}

.tag-group {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    justify-content: center;
}

.tag {
    margin: 10px 20px;
    cursor: pointer;
}

.hide {
    display: none;
}

.active {
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.3);
}

.img-block {
    width: 100%;
    height: 270px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

a.button-del {
    padding: 3px 12px;
    border-radius: 3px;
    background-color: red;
    color: white;
}

a.button-edit {
    padding: 3px 12px;
    border-radius: 3px;
    background-color: grey;
    color: white;
}

.plus {
    border: 1px solid grey;
    font-size: 140;
    line-height: 250px;
    font-weight: 100;
    color: grey;
    text-align: center;
}