@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic);* {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  margin: 0;
}

.content {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: grey;
  justify-content: center;
  align-items: center;
}

.content .logo > img {
  width: 300px;
}

.content form {
  margin-top: 10px;
  text-align: center;
}

.content form .error {
  margin-bottom: 10px;
  font-size: 14px;
  color: white;
}

.content form button {
  margin-top: 10px;
  border: none;
  padding: 10px 30px;
  font-size: 15px;
  text-align: center;
  outline: none;
  cursor: pointer;
}

.content .form-block {
  margin: 20px;
}

.content .form-block input {
  background: #bbbbbb;
  border: none;
  padding: 10px 30px;
  font-size: 15px;
  text-align: center;
  outline: none;
}

