@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic);a:visited,
a:link,
a:hover,
a:active {
  text-decoration: none;
}

body {
  margin: 0;
}

* {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
}

.block {
  height: 45vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.head {
  margin: 0;
  background: url(/images/sec_vers/main.jpg);
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: color;
  background-position: center center;
  background-size: cover;
  height: 46vw;
  display: flex;
  flex-direction: column;
}

.headlogo {
  width: 37%;
  margin: 15% auto 0;
  padding-right: 5%;
}

.headlogo img {
  width: 100%;
}

.headinst {
  margin: 5% auto;
}

.headinst img {
  width: 40px;
  margin: 0 5px;
}

.head-arrow-block {
  display: none;
}

.arrow-anim {
  -webkit-animation: spin 1.3s infinite linear;
          animation: spin 1.3s infinite linear;
}

@-webkit-keyframes spin {
  0%, 100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(50%);
  }
}

@keyframes spin {
  0%, 100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(50%);
  }
}

#feedback {
  border: 1px solid grey;
  padding: 30px;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 70px;
  -webkit-animation-name: open;
          animation-name: open;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes open {
  99% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    height: 0;
    margin: 0 auto;
    padding: 0;
  }
}

@keyframes open {
  99% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    height: 0;
    margin: 0 auto;
    padding: 0;
  }
}

.ceo-about-2 {
  font-size: 16px;
  text-align: end;
  opacity: 0.8;
}

.utp {
  text-align: center;
  width: 450px;
  display: block;
  margin: 0 auto;
  color: white;
}

.utp-mobile {
  display: none;
}

.arrow {
  text-align: center;
  margin: 10vh auto;
}

.head-arrow-block {
  position: relative;
  margin-bottom: 6%;
  height: 100%;
}

.head-arrow {
  position: absolute;
  left: 50%;
  bottom: -36vw;
  transform: translateX(-50%);
  -webkit-animation-name: hear-arrow-move;
          animation-name: hear-arrow-move;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-duration: 1.7s;
          animation-duration: 1.7s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.title-text {
  text-align: center;
  font-size: 33px;
}

.black-button {
  text-decoration: none;
  color: white;
  background-color: #3b3b3b;
  padding: 15px 30px;
}

.gallery-grid {
  margin-bottom: 7vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 450px);
  grid-gap: 5px;
}

figure {
  margin: 0;
}

figure > div {
  height: 100%;
  background-blend-mode: color;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.black-mini-button {
  margin-bottom: 30px;
  color: white;
  text-align: end;
  background-color: rgba(59, 59, 59, 0.8);
  padding: 10px 30px;
  text-decoration: none;
  font-size: 14px;
  margin-right: 20px;
}

.gallery-item-2 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.gallery-item-3 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
}

.direction > div {
  text-align: center;
  background-color: #3b3b3b;
  color: white;
  padding: 2em 1em;
  padding-bottom: 2em;
  max-width: 1000px;
  margin: 28px auto;
}

.direction > div > h3 {
  font-size: 23px;
  font-weight: 400;
  line-height: 0;
}

.direction > div > a {
  color: grey;
}

.direction button {
  background: none;
  color: grey;
  text-decoration: underline;
  font-size: 16px;
  border: none;
  outline: none;
  cursor: pointer;
}

.hide {
  display: none;
}

.details {
  margin: 25px 90px;
}

.details > img {
  width: 80%;
  margin: 20px;
}

.details > p {
  font-size: 15px;
  opacity: 0.7;
}

.ceo {
  height: 33vw;
  background-color: #3b3b3b;
  color: white;
  display: flex;
  margin: 10vw 0;
  align-items: center;
  justify-content: center;
}

.ceo-portrait {
  height: 100%;
  width: 30%;
  background-image: url(/images/portrait.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ceo-text {
  width: 40vw;
  max-width: 600px;
  margin-right: 6vw;
}

.ceo-text > h3 {
  font-size: 23px;
  line-height: 0;
}

.ceo-text > h5 {
  font-size: 14px;
  line-height: 0;
  opacity: 0.6;
  margin-bottom: 70px;
}

.ceo-about {
  font-size: 14px;
  text-align: end;
  opacity: 0.8;
}

.ceo-quote {
  font-size: 18px;
  text-align: end;
}

.team-text {
  max-width: 600px;
  text-align: center;
  margin: 70px auto;
  background: #3b3b3b;
  color: white;
  padding: 30px 150px;
}

.team-text > p {
  font-size: 20px;
}

.team-grid {
  margin: 7vw 20px;
  margin-top: 120px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 10vw);
  grid-gap: 5px;
}

.team-grid video {
  -o-object-fit: cover;
     object-fit: cover;
}

.team-item-a2 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 5;
}

.team-item-a1 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 5;
}

.team-item-1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.team-item-2 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 5;
}

.team-item-3 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 5;
}

.team-item-4 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 5;
}

.team-item-5 {
  display: none;
}

.team-text li {
  font-size: 16px;
  text-align: start;
  width: 60%;
  margin: 0 auto;
  list-style-type: none;
  padding-top: 5px;
}

.form {
  padding: 50px 70px 70px 70px;
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.form h3 {
  font-family: roboto;
  font-weight: 400;
  font-size: 23px;
  margin-bottom: 50px;
}

form {
  margin: 0 auto;
}

input {
  border: none;
  border-bottom: 1px solid grey;
  padding: 10px;
  width: 90%;
  font-family: roboto;
  font-size: 16px;
  font-weight: 100;
  outline: none;
  margin: 10px auto;
}

textarea {
  margin-top: 40px;
  border: 1px solid grey;
  font-family: roboto;
  font-size: 16px;
  font-weight: 100;
  padding: 10px;
  width: 90%;
}

input,
label {
  display: block;
}

.form-group {
  display: inline-block;
}

.submit {
  font-size: 18px;
  margin-top: 50px;
  background-color: #3b3b3b;
  color: white;
  width: 160px;
  font-size: 16px;
}

.inst {
  display: flex;
  align-items: center;
}

.inst > img {
  width: 2vw;
  height: auto;
}

.inst > p {
  margin-left: 15px;
  font-size: 14px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  margin: 15% auto;
  width: 880px;
}

.close {
  color: white;
  float: right;
  font-size: 37px;
  /* font-weight: bold; */
  margin: 4px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.header {
  background-color: #3b3b3b;
}

.header > img {
  width: 20vw;
  max-width: 300px;
}

@media screen and (min-width: 768px) and (max-width: 950px) {
  .gallery-grid {
    background-color: black !important;
    grid-template-rows: repeat(2, 300px);
  }
}

@media screen and (min-width: 950px) and (max-width: 1150px) {
  .gallery-grid {
    background-color: black !important;
    grid-template-rows: repeat(2, 350px);
  }
}

@media screen and (max-width: 768px) and (orientation: portrait) {
  body {
    margin: 0;
  }

  .head {
    height: 100vh;
    background: url(/images/sec_vers/main-mobile.jpg);
    background-blend-mode: color;
    background-position: center -37px;
    background-size: cover;
    display: flex;
    flex-direction: column;
  }

  .headlogo {
    width: 65%;
    margin: 60% auto 0;
  }

  .headinst {
    margin: 20% auto;
  }

  .utp-mobile {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    color: white;
    font-size: 16px;
    display: block;
  }

  .utp {
    display: none;
  }

  .head-arrow-block {
    display: block;
    margin: 0;
    order: 1;
    height: auto;
  }

  .head-arrow {
    bottom: -15vw;
  }

  .block {
    height: 50vh;
  }

  .title-text {
    font-size: 23px;
    max-width: 70%;
    margin: 0 auto 7vw;
  }

  .gallery-grid {
    grid-gap: 2px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 40vw);
  }

  .gallery-item-2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .gallery-item-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .gallery-item-4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .gallery-item-3 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .black-mini-button {
    font-size: 0.7em;
    padding: 4px 22px;
    margin-right: 0;
    color: #3b3b3b;
    background-color: rgba(255, 255, 255, 0.7);
  }

  .mobile-space {
    margin: 13vw auto;
  }

  .direction > div {
    padding: 1em;
    margin: 10px auto;
    width: 80vw;
  }

  .direction > div > h3 {
    font-size: 15px;
  }

  .direction button {
    font-size: 13px;
  }

  .details {
    margin: 0;
  }

  .details > p {
    font-size: 14px;
  }

  .ceo {
    height: 100%;
    flex-direction: column;
  }

  .ceo-text {
    order: 2;
    width: 80%;
    max-width: none;
    margin: 5% auto;
  }

  .ceo-text > h5 {
    margin-bottom: 45px;
  }

  .ceo-about {
    font-size: 12px;
    text-align: end;
    opacity: 0.8;
  }

  .ceo-quote {
    display: none;
    font-size: 15px;
    text-align: end;
  }

  .ceo-portrait {
    order: 1;
    height: 100vw;
    width: 100vw;
  }

  .team-text {
    width: 80%;
    margin: 40px auto;
    padding: 20px 40px;
  }

  .team-text > h3 {
    font-size: 19px;
  }

  .team-text li {
    font-size: 14px;
    width: 70%;
  }

  .team-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 35vw);
    grid-gap: 3px;
    margin-top: 60px;
  }

  .team-item-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .team-item-2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .team-item-4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .team-item-3,
  .team-item-5 {
    display: none;
  }

  .arrow {
    margin: 6vh auto;
  }

  .form {
    width: 80%;
    padding: 0;
    margin-bottom: 5vh;
  }

  .inst {
    display: none;
  }

  .inst > img {
    width: 3vw;
  }

  .inst > p {
    display: none;
    font-size: 9px;
  }
}

