@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic);* {
  font-family: "Roboto", sans-serif;
}

img {
  width: 100%;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.title {
  font-size: 50px;
  font-weight: 100;
  text-align: center;
  margin: 40px;
}

.description {
  margin: 60px 100px;
}

.img {
  margin-bottom: 30px;
}

